<div class="interesting-keyword">
  <div class="sentiment-inner">
    <div class="sentiment-sign">
      <div class="sentiment-img">
        <div class="sentiment-logo">
          <img src="assets/svg/siren.svg" alt="" />
        </div>
        <div class="good-label">
          <p>30% <span>Very Urgent and important</span></p>
          <span>388K Records</span>
        </div>
      </div>
      <div class="sentiment-img">
        <div class="sentiment-logo">
          <img src="assets/svg/siren (1).svg" alt="" />
        </div>
        <div class="good-label">
          <p>80% <span>Urgent</span></p>
          <span>878K Records</span>
        </div>
      </div>
      <div class="sentiment-img">
        <div class="sentiment-logo">
          <img src="assets/svg/siren (2).svg" alt="" />
        </div>
        <div class="good-label">
          <p>90% <span>Neutral</span></p>
          <span>989K Records</span>
        </div>
      </div>
      <div class="sentiment-img">
        <div class="sentiment-logo">
          <img src="assets/svg/siren (3).svg" alt="" />
        </div>
        <div class="good-label">
          <p>80% <span>Not Urgent</span></p>
          <span>989K Records</span>
        </div>
      </div>
      <div class="sentiment-img">
        <div class="sentiment-logo">
          <img src="assets/svg/siren (4).svg" alt="" />
        </div>
        <div class="good-label">
          <p>70% <span>Irrelevant</span></p>
          <span>9090K Records</span>
        </div>
      </div>
    </div>
  </div>
  <!-- dynamic classes urgent-important,urgent,neutral,not-urgent,irrelevant -->
  <div class="sentiment-type neutral">Overall Priority Is <span>Neutral.</span></div>
</div>
