<div class="interesting-keyword">
  <div class="sentiment-inner">
    <div class="sentiment-sign">
      <div class="sentiment-img">
        <div class="sentiment-logo">
          <img src="assets/svg/complaint.svg" alt="" />
        </div>
        <div class="good-label">
          <p>16% <span>Complaint</span></p>
          <span>20K Records</span>
        </div>
      </div>
      <div class="sentiment-img">
        <div class="sentiment-logo">
          <img src="assets/svg/question.svg" alt="" />
        </div>
        <div class="good-label">
          <p>20% <span>Query</span></p>
          <span>10K Records</span>
        </div>
      </div>
      <div class="sentiment-img">
        <div class="sentiment-logo">
          <img src="assets/svg/request.svg" alt="" />
        </div>
        <div class="good-label">
          <p>30% <span>Request</span></p>
          <span>40K Records</span>
        </div>
      </div>
      <div class="sentiment-img">
        <div class="sentiment-logo">
          <img src="assets/svg/question (1).svg" alt="" />
        </div>
        <div class="good-label">
          <p>40% <span>Others</span></p>
          <span>90K Records</span>
        </div>
      </div>
    </div>
  </div>
  <!-- dynamic classes complaint,query,request, other -->
  <div class="sentiment-type complaint">
    Overall Intent Is <span>Complaint.</span>
  </div>
</div>
