<div class="interesting-keyword">
  <div class="sentiment-inner">
    <div class="sentiment-sign">
      <div class="sentiment-img">
        <div class="sentiment-logo">
          <img src="assets/svg/frustrated.svg" alt="" />
        </div>
        <div class="good-label">
          <p>10% <span>Frustrated</span></p>
          <span>23K Records</span>
        </div>
      </div>
      <div class="sentiment-img">
        <div class="sentiment-logo">
          <img src="assets/svg/girl.svg" alt="" />
        </div>
        <!-- <div class="good-label">
          <p> <span>Annoyed</span></p>
          <span>12K Records</span>
        </div>
      </div>
      <div class="sentiment-img">
        <div class="sentiment-logo">
          <img src="assets/svg/mental.svg" alt="" />
        </div> -->
        <div class="good-label">
          <p>20% <span>Confused</span></p>
          <span>890K Records</span>
        </div>
      </div>
      <div class="sentiment-img">
        <div class="sentiment-logo">
          <img src="assets/svg/infoseek.svg" alt="" />
        </div>
        <div class="good-label">
          <p>30% <span>Infoseek</span></p>
          <span>30K Records</span>
        </div>
      </div>
      <div class="sentiment-img">
        <div class="sentiment-logo">
          <img src="assets/svg/emoji.svg" alt="" />
        </div>
        <div class="good-label">
          <p>40% <span>Disappointed</span></p>
          <span>20K Records</span>
        </div>
      </div>
      <div class="sentiment-img">
        <div class="sentiment-logo">
          <img src="assets/svg/impatient.svg" alt="" />
        </div>
        <div class="good-label">
          <p>50% <span>Impatient</span></p>
          <span>40K Records</span>
        </div>
      </div>
      <div class="sentiment-img">
        <div class="sentiment-logo">
          <img src="assets/svg/hands-and-gestures.svg" alt="" />
        </div>
        <div class="good-label">
          <p>60% <span>Pleased</span></p>
          <span>70K Records</span>
        </div>
      </div>
      <div class="sentiment-img">
        <div class="sentiment-logo">
          <img src="assets/svg/fist.svg" alt="" />
        </div>
        <div class="good-label">
          <p>80% <span>Cannot be Determined</span></p>
          <span>90K Records</span>
        </div>
      </div>
    </div>
  </div>
  <!-- dynamic classes frustrated,annoyed,confused,infoseek,disappointed,impatient,pleased,determined -->
  <div class="sentiment-type frustrated">
    Overall Emotion Is <span>Frustrated</span>
  </div>
</div>
