<div class="nav-menu" *ngIf="data.isloading">
  <div class="menu-main">
    <div class="left-nav">
      <div class="logo-main">
        <img src="assets/images/hpl.png" alt="" />
      </div>
      <div class="powered-by">
        <span>Powered by -</span>
        <img src="assets/svg/powered-by-logo.svg" alt="" />
      </div>
    </div>
    <div class="right-nav">
      <ul class="nav-menu-items">
        <li routerLink="/overview" routerLinkActive="active">
          <a>Topic Overview</a>
        </li>
        <li routerLink="/explorer" routerLinkActive="active">
          <a>Text Analytics Explorer</a>
        </li>
      </ul>

      <div class="header-profile">
        <div class="dropdown" #simpleDropdownRefIcon>
          <a
            href="javascript:void(0)"
            class="btn btn-link dropdown-toggle"
            tabindex="0"
          >
            <span>naseemahmadjmi96@gmail.com</span>
            <svg
              height="20"
              width="17"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <defs></defs>
              <path d="M0,0H24V24H0Z" fill="none"></path>
              <path
                d="M7.41,8.59,12,13.17l4.59-4.58L18,10l-6,6L6,10Z"
                fill="#A4AFB7"
              ></path>
            </svg>
          </a>

          <ul class="menu logout-btn">
            <li (click)='logout();'>Logout</li>
          </ul>
        </div>
        <div class="user-profile">
          <figure class="avatar avatar-sm">
            <img src="assets/svg/dummy-profile-40_40.svg" alt="" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-middle-content">
  <router-outlet></router-outlet>
</div>
