<div class="text-analysis-explorer">
  <!-- Text Analytics Explorer -->
  <div class="home-content">
    <div class="columns-divided analytics-explorer-inner">
      <div class="column1">
        <div class="nps-wrapper">
          <!-- <div class="nps-title nps-head">
            <dashboard-widget>
              <div class="widget-head nps-heading">
                Text Analytics Explorer
              </div>
              <div
                class="widget-content nps-score"
                style="display: flex;justify-content: center"
              >
                <div class=""></div>
              </div>
            </dashboard-widget>
          </div> -->
          <div class="analytics-explorer">
            <div class="explorer-search">
              <div class="explorer-heading">
                <p class="main-heading">
                  Text Analytics Explorer
                </p>
              </div>
              <div class="search-project">
                <div class="form-group sm">
                  <span class="input-icon">
                    <input
                      class="form-input"
                      placeholder="Search Topics..."
                      type="text"
                    />
                    <img src="assets/svg/search.svg" />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="cluster-table-view table-responsive default-table">
            <table
              class="table table-filter table-noborder analytics-table-sentiment"
            >
              <thead>
                <tr>
                  <th>
                    Topics
                    <span class="column-filter decen">
                      <svg
                        id="Group_Copy_2"
                        data-name="Group Copy 2"
                        xmlns="http://www.w3.org/2000/svg"
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                      >
                        <rect
                          id="Rectangle"
                          width="12"
                          height="12"
                          fill="none"
                        />
                        <g
                          id="Group_27"
                          data-name="Group 27"
                          transform="translate(2)"
                        >
                          <path
                            id="Shape"
                            d="M.081,3.744,3.1.105a.317.317,0,0,1,.472,0l3,3.638a.316.316,0,0,1-.236.527H.316A.316.316,0,0,1,.081,3.744Z"
                            transform="translate(0.675 0.977)"
                            class="shorting-up"
                          />
                          <path
                            id="Shape-2"
                            data-name="Shape"
                            d="M.081-3.744,3.1-.105a.317.317,0,0,0,.472,0l3-3.638a.316.316,0,0,0-.236-.527H.316A.316.316,0,0,0,.081-3.744Z"
                            transform="translate(0.675 11.023)"
                            class="shorting-down"
                          />
                        </g>
                      </svg>
                    </span>
                  </th>
                  <th>
                    <div class="percentage-total">
                      Percentage Of Total
                      <span class="column-filter">
                        <svg
                          id="Group_Copy_2"
                          data-name="Group Copy 2"
                          xmlns="http://www.w3.org/2000/svg"
                          width="12"
                          height="12"
                          viewBox="0 0 12 12"
                        >
                          <rect
                            id="Rectangle"
                            width="12"
                            height="12"
                            fill="none"
                          />
                          <g
                            id="Group_27"
                            data-name="Group 27"
                            transform="translate(2)"
                          >
                            <path
                              id="Shape"
                              d="M.081,3.744,3.1.105a.317.317,0,0,1,.472,0l3,3.638a.316.316,0,0,1-.236.527H.316A.316.316,0,0,1,.081,3.744Z"
                              transform="translate(0.675 0.977)"
                              class="shorting-up"
                            />
                            <path
                              id="Shape-2"
                              data-name="Shape"
                              d="M.081-3.744,3.1-.105a.317.317,0,0,0,.472,0l3-3.638a.316.316,0,0,0-.236-.527H.316A.316.316,0,0,0,.081-3.744Z"
                              transform="translate(0.675 11.023)"
                              class="shorting-down"
                            />
                          </g>
                        </svg>
                      </span>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody class="body-child-border">
                <ng-container>
                  <tr>
                    <td class="cluster-name">
                      <div>text</div>
                    </td>
                    <td>
                      <div class="total-count-tr">
                        <span>30%%</span>
                        <svg
                          class="cursorPointer"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                        >
                          <defs>
                            <style>
                              .a {
                                fill: none;
                              }

                              .b {
                                fill: #6f7276;
                              }
                            </style>
                          </defs>
                          <path class="a" d="M0,0H24V24H0Z" />
                          <path
                            class="b"
                            d="M7.41,8.59,12,13.17l4.59-4.58L18,10l-6,6L6,10Z"
                          />
                        </svg>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="cluster-name">
                      <div>text</div>
                    </td>
                    <td>
                      <div class="total-count-tr">
                        <span>30%%</span>
                        <svg
                          class="cursorPointer"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                        >
                          <defs>
                            <style>
                              .a {
                                fill: none;
                              }

                              .b {
                                fill: #6f7276;
                              }
                            </style>
                          </defs>
                          <path class="a" d="M0,0H24V24H0Z" />
                          <path
                            class="b"
                            d="M7.41,8.59,12,13.17l4.59-4.58L18,10l-6,6L6,10Z"
                          />
                        </svg>
                      </div>
                    </td>
                  </tr>
                  <tr class="active">
                    <td class="cluster-name">
                      <div>text</div>
                    </td>
                    <td>
                      <div class="total-count-tr">
                        <span>30%%</span>
                        <svg
                          class="cursorPointer"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                        >
                          <defs>
                            <style>
                              .a {
                                fill: none;
                              }

                              .b {
                                fill: #6f7276;
                              }
                            </style>
                          </defs>
                          <path class="a" d="M0,0H24V24H0Z" />
                          <path
                            class="b"
                            d="M7.41,8.59,12,13.17l4.59-4.58L18,10l-6,6L6,10Z"
                          />
                        </svg>
                      </div>
                    </td>
                  </tr>
                  <!-- Child NODE -->
                  <tr class="nested-main">
                    <td colspan="2">
                      <div class="default-table">
                        <table
                          class="table table-filter table-noborder nested-table"
                          style="width: 100%;"
                        >
                          <tr class="classification-name">
                            <td colspan="2">Classification Name</td>
                          </tr>
                          <tr>
                            <td class="cluster-name">
                              <div>App</div>
                            </td>

                            <td>
                              <div class="total-count-tr">
                                <span>40%</span>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- analysis explorer right main section -->
      <div class="column1">
        <div class="analysis-right-main">
          <div class="analysis-right-inner">
            <div class="login-issues">
              <div class="widget-head">
                <span class="login-text"
                  >Login Issue Topic Number of Conversion -
                  <strong>345M</strong></span
                >
              </div>
              <!-- <div class="widget-content"></div> -->
            </div>

            <div class="login-issues common-parent-box">
              <!-- <dashboard-widget > -->
              <div class="widget-head">
                <span class="login-text common-text"
                  >Overall Topic Sentiment</span
                >
              </div>
              <div class="widget-content">
                <app-sentiments></app-sentiments>
              </div>
              <!-- </dashboard-widget> -->
            </div>
            <div class="login-issues common-parent-box">
              <div class="widget-head">
                <span class="login-text common-text"
                  >Overall Topic Priority</span
                >
              </div>
              <div class="widget-content">
                <app-priorities></app-priorities>
              </div>
            </div>
            <div class="login-issues common-parent-box">
              <div class="widget-head">
                <span class="login-text common-text">Overall Topic INTENT</span>
              </div>
              <div class="widget-content">
                <app-intent></app-intent>
              </div>
            </div>
            <div class="login-issues common-parent-box emotions">
              <!-- <dashboard-widget class="login-issues common-parent-box emotions"> -->
              <div class="widget-head">
                <span class="login-text common-text"
                  >Overall Topic EMOTIONS</span
                >
              </div>
              <div class="widget-content">
                <app-emotions></app-emotions>
              </div>
              <!-- </dashboard-widget> -->
            </div>
          </div>
        </div>
      </div>
      <!-- End analysis explorer right main section -->
    </div>
  </div>
</div>
